*,
*::before,
*::after {
	
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html{
    //this defines value of 1rem so base and no typogrpahy.
	font-size: 62.5%;   
}

body {
	box-sizing: border-box;
}